body {
    background-image: url("fondo.jpg"); /* establece la imagen de fondo*/
    background-size: cover; /*Ajusta el tamaño de la imagen de fondo para que cubra completamente el total de la pantalla*/
    background-position: center; /*centra la imagen de fondo*/
    background-repeat: no-repeat; /*evita que la imagen de fondo se repita*/
}

h1 {
    text-align: center;
}

h2 {
    text-decoration-line: underline;
}

#segundoTitulo {
    background-color: #e43dc3;
    font-style: italic;
}

#fotoCV {
    width: 15%;
    border: 5px solid #e43dc3;
    float: right;
}

.sobreMi {
    background-color: antiquewhite;
    text-align: center;
}

.subtextos {
    background-color: antiquewhite;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 20px; /* Ajusta el espacio a la izquierda para alinear los puntos */
    margin-left: 0; /* Elimina el margen izquierdo para evitar desplazamiento adicional */
}

li {
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
}

span {
    font-weight: bold;
    font-style: oblique;
}

.fotos {
    width: 10%;
    float: left;
}

/* Ajustes para celulares y tablets */
@media (max-width: 768px) {
    #fotoCV {
        width: 100%; /*garantiza que la imagen se ajuste al ancho disponible*/
        float: none; /*Elimina cualquier flotado de la imagen*/
        display: block; /*Cambia el comportamiento de la imagen a un elemento de bloque*/
        margin: 0 auto; /* Centra la imagen si es necesario */
    }

    .fotos {
        width: 100%;
        float: none;
        display: block;
        margin: 0 auto; /* Centra la imagen si es necesario */
    }

    .subtextos {
        text-align: center;
    }
}


